.env
gcc-arm-none-eabi-10-2020-q4-major-x86_64-linux.tar.bz2
web-compiler/output/**
playground/**/build
DubbyLib/prototype/lib/DaisySP
DubbyLib/prototype/lib/libDaisy
web-compiler/buildspace/**
!*main.cpp.template
